html{
    font-size:28px ;
}
body{
    margin: 0;
}
.section{
    width: 1280px;
    margin:0px 0px 80px 0px;
}
.box{
    padding:10px;
    height: 150px;
    margin: 10px;

}
.box:nth-child(odd){
    width: 75%;
    color: #2222229E;
}
.box:nth-child(even){
    width: 50%;
    color: #2222229E;
}
.box1{
   background:  #55B3B9;
    font-family: Roboto;
}
.box2{
    background: #C56060;
}
.box3{
    background:#8FC091 ;
    text-align: center;
}
.box4{
    background:#8F86AF ;
    text-decoration-line:line-through;
}
.box1 h1{
    font-size: 2em;
    margin: 0;
}
.box1 h2{
    font-size: 1.5em;
    margin: 0;
}
.box2 h2{
    font-size: 1.5em;
    margin: 0;
    font-family: Roboto;
}
.box2 h3{
    font-size: 1em;
    margin: 0;
}
.box3 h2{
    font-size:0.8em;
    margin: 0;
    font-family: Roboto;
}
.box3 h3{
    font-size:0.6em;
    text-decoration-line: underline;
    margin: 0;
}
.box4 h2{
    font-size: 1.5em;
    margin: 0;
    font-family: Roboto;
}
.box4 h3{
    font-size:1em;
    margin: 0;
}
h3{
    font-family: 'Sail', cursive;
}
.box:hover{
    font-size:2em;
}




